.form-main {
  background-color: rgb(179, 160, 125);
  border: 10px;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  margin: 20px auto;
  padding: 15px;
  width: 500px;
}

.form-input {
  margin: 5px 10px;
}
