body {
  background-color: beige;
}

.filter-form-container {
  background-color: rgb(131, 121, 102);
  border: 10px;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  margin: 20px auto;
  padding: 0 0 10px;
  text-align: center;
  width: 500px;
}

.filter-input {
  margin: 5px 10px;
}

.saved-cards-container {
  display: flex;
  flex-flow: row;
}
